@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 245 247 250;
    --foreground: 5 8 22;
    --card: 255 255 255;
    --card-foreground: 5 8 22;
    --popover: 255 255 255;
    --popover-foreground: 5 8 22;
    --primary: 0 179 134;
    --primary-foreground: 255 255 255;
    --secondary: 76 111 255;
    --secondary-foreground: 255 255 255;
    --muted: 245 247 250;
    --muted-foreground: 113 128 150;
    --accent: 245 247 250;
    --accent-foreground: 5 8 22;
    --destructive: 239 68 68;
    --destructive-foreground: 255 255 255;
    --border: 226 232 240;
    --input: 226 232 240;
    --ring: 0 179 134;
    --radius: 1rem;
  }

  .dark {
    --background: 5 8 22;
    --foreground: 250 250 250;
    --card: 11 18 32;
    --card-foreground: 250 250 250;
    --popover: 11 18 32;
    --popover-foreground: 250 250 250;
    --primary: 0 179 134;
    --primary-foreground: 255 255 255;
    --secondary: 76 111 255;
    --secondary-foreground: 255 255 255;
    --muted: 11 18 32;
    --muted-foreground: 156 163 175;
    --accent: 11 18 32;
    --accent-foreground: 250 250 250;
    --destructive: 239 68 68;
    --destructive-foreground: 255 255 255;
    --border: 30 41 59;
    --input: 30 41 59;
    --ring: 0 179 134;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background-light dark:bg-background-dark text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
